params {
    input = null
    outdir = './results'
    input_file = null
    accession_id_col = 'Protein.Ids'
    mw_column = ''
    intensity_columns = null
    ploidy = 2
    total_cellular = 200
    get_mw = false
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
